@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'MuseoModerno', cursive;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer base {
  input {
    @apply outline-none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
